@{
    ViewData["Title"] = "Reports";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information about Reports.</p>

<form method="post">
	<input type="text" id="quantity" name="quantity" />
	<input type="text" id="feeMultiplier" name="feeMultiplier" />
	<input type="submit" />
</form>